*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Restaurant card container */
.restaurant-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; /* Space between cards */
    overflow: hidden;
  }
  
  /* Image container */
  .restaurant-card .card-image {
    width: 100%;
    height: 300px; /* Fixed height for images */
    background-position: center;
    background-size: cover;
  }
  
  /* Info container */
  .restaurant-card .card-info {
    padding: 16px;
  }
  
  /* Restaurant name */
  .restaurant-card .card-info .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Additional details */
  .restaurant-card .card-info .details {
    font-size: 14px;
    color: #666666;
  }
  
  /* Flex container for aligning rating and review count */
  .restaurant-card .card-info .rating-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style for review count */
  .restaurant-card .card-info .rating-review .review-count {
    font-size: 12px;
    color: #999999;
  }
  

/* Add these styles to your CSS file */

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .search-bar {
    padding: 10px;
    border: none;
    width: calc(100% - 120px); /* Take the width minus the button width */
    border-radius: 20px 0 0 20px; /* Rounded corners on the left side */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: #FF6F61; /* Aesthetic peach color */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 20px 20px 0; /* Rounded corners on the right side */
    transition: background-color 0.3s ease;
    width: 100px; /* Fixed width for the button */
  }
  
  .search-btn:hover {
    background-color: #e65a50; /* Darken the color on hover */
  }
  
  .results {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    /* ...other styles... */

  
  /* To ensure the search bar expands downwards for large text */
  .search-bar {
    overflow: hidden;
    resize: vertical;
    min-height: 38px; /* Minimum height to match the button */
  }
  
  .diff-bold {
    color: #FF6F61; /* Same peach color for consistency */
    /* ...other styles... */
  }

  /* Position the search bar and button side by side */
.search-container {
    display: flex;
  }
  
  /* Style the search bar */
  #search-input {
    flex-grow: 1; /* Makes the search bar take up the available space */
    margin-right: 8px; /* Adds spacing between the search bar and the button */
    border-radius: 4px 0 0 4px; /* Rounded corners on the left side only */
  }
  
  /* Style the search button */
  #search-button {
    border-radius: 0 4px 4px 0; /* Rounded corners on the right side only */
  }
  
  
body{
    background-color: #fdf8f4;
    font-family:  'DM Sans', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
}

#results-container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.loading-spinner {
    display: none; /* Keep the display none to control via JS */
    width: 100%; /* Ensures it takes the full width */
    justify-content: center; /* Center the spinner horizontally */
}
  
  .loading-spinner .spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: #FF6F61;
    animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* -----------value---------------- */

:root{
    --bg:#fdf8f4;
    --black1: #0c1d37;
    --bgspan: rgba(255, 101, 1, 0.12);
    --bgbtn: #0c1d37;
    --hov : #ff6501;
    --bgdoc : #fbf2eb;
    --bgdiff : #fde6d6;

    --navfont : 1.6rem;
    --logofont : 2rem;

    --headfont: 3.75rem;
    --headfont2: 2rem;
    --pfont: 1rem;
}


/* ----------------------common------------------ */

.maxsize{
    max-width: 1200px;
}

.diff-bold{
    padding: 0 1rem;
    border-radius: 8px;
    background-color: var(--bgdiff);
    color: var(--hov);
}

.btn{
    padding: 1.125rem 2.5rem;
    text-decoration: none;
    color: white;
    background-color: var(--black1);
    border-radius: 50px;
}
section{
    padding: 3rem 0;
}

.section{
    flex-flow: column;
    margin-bottom: 6rem;
}

.doc-box-shadow{
    border-radius: 30px;
    transform-style: preserve-3d;
    box-shadow: 0 25px 50px -10px rgb(100 44 0 / 7%);
}
/* -----------header-------------- */
header{
    height: 75px;
    padding: 16px 30px;
    
    width: 100%;
}

#menu-icon{
    display: none;
    font-size: 2rem;
    z-index: 1001;
    color: var(--hov);
}
.sticky-head{
    position: sticky;
    top: 0;
    background-color: #fdf8f4;
    box-shadow: 0 15px 50px -10px rgb(100 44 0 / 7%);
    z-index: 1000;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.875rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.show.full{
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    z-index: 1000;
    animation: show-menu 0.5s ease-in-out both;
}
@keyframes show-menu {
    0%{
        width: 100%;
        height: 0%;
        opacity: 0;
    }
    100%{
        width: 100%;
        height: 100vh;
        opacity: 1;
    }
}

.show.full ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
}
.show.full ul li a{
    color: white;
}
.join-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login{
    margin-right: 2rem;
}
.login a{
    text-decoration: none;
}
.signup{
    padding: .625rem 1.25rem;
    border: 2px solid rgb(12, 29, 55);
    border-radius: 50px;
}
.signup a{
    text-decoration: none;
}

 /* ---------for menu list -------------- */

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul li{
    list-style: none;
    margin: 2rem;
}

.menu ul li a{
    text-decoration: none;
    color: #0c1d37;
    font-size: 1rem;
    font-weight: 500;
}

/* -------------header:hover---------------- */

.menu ul li:hover a{
    color: var(--hov);
}
.login:hover a{
    color: var(--hov);
}
.signup:hover{
    background-color: rgb(12, 29, 55);
}
.signup:hover a{
    color: white;
    transition: 0.5s;
}
.btn:hover{
    color: white;
    background-color: var(--hov);
}

/* -----------search-bar---------------- */

.search-bar {
    width: 100%;
    padding: 1.25rem 1.5rem;
    border: 0px solid var(--black1);
    border-radius: 15px;
    font-size: 1rem;
    outline: none;
    position: relative;
    background-color: var(--bgdiff);
}

input::placeholder {
    font-size: var(--pfont)
    font-family: 'DM Sans', sans-serif;
}

.example-queries input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}


/* -----------section-hero---------------- */

.section-hero{
    padding: 6.675rem 1.875rem;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.block-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 4rem 0;
    z-index: 100;
}
.block-content h1{
    font-size: var(--headfont);
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    top: -35px;
}

.block-content p{
    font-size: var(--pfont);
    text-align: center;
    max-width: 500px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    position: relative;
    top: -40px;
}

/* ----------prompts------------------ */
.prompts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
}

.prompt-container{
    background-color: var(--bgdiff);
    border-radius: 24px;
    padding: 30px 30px 35px;
    height: 14.25rem;
    width: 20.25rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    z-index: 100;
}

/* ----------scrolling animation view------------------ */

.block-hero-img{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.block-hero-img .prompt-container {
    flex: 1;
    align-items: center; /* center the text */
}

.block-hero-img div{
    position: absolute;
    transform-style: preserve-3d;
}


/* ------------------section-full--------------------- */
/* .section-full{
    padding: 5rem 0;
} */
.section-full{
    overflow: hidden;
}

.section-grid{
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: auto;
    min-height: 100vh;
    align-items: center;
}

.section-full-img{
    position: relative;
}
.section-content{
    z-index: 900;
}

.section-content h1{
    font-size: var(--headfont);
    margin-bottom: 2rem;
}
.section-content p{
    font-size: var(--pfont);
    line-height: 2rem;
    margin-bottom: 2rem;
}
.section-content .btn{
    width: fit-content;
}
.section-animate-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: auto;
    grid-row-gap: 3vw;
    grid-column-gap: 2vw;
    position: absolute;
    top: -400px;
    left: -100px;
    transform-style: preserve-3d;
    transition: 4s;
    overflow: auto;
}
.docs3-1{
    grid-row: 1/ span 2;
}

.section-full-circle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.section-full-circle div{
    position: absolute;
}


/* -------------section-idea------------ */

.section-idea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 3rem;
    align-items: center;
}

.section-content ul li {
    list-style: none;
    font-size: var(--pfont);
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.section-content ul li i{
    color: var(--hov);
    margin-right: 2rem;
    padding: 1rem;
    background-color: #fdfdfd;
    border-radius: 50%;
}

/* ---------footer------------- */

.section-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    padding: 6rem 0;
    border-top: 5px solid black;
}

.office .logo{
    margin-bottom: 2rem;
}


.footerlinks h4{
    color: #0c1d37;
    font-weight: 400;
    margin-bottom: 2rem;
    opacity: .7;
}
.footerlinks li{
    list-style: none;
    margin-bottom: 1rem;
}
.footerlinks li a{
    text-decoration: none;
    color: var(--black1);
}

.footerlinks li:hover a{
    color: var(--hov);
}z



/* ----------------animation--------------- */


.animate.slide-top.rotategrid{
    animation: rotategrid 4s ease-in-out both;
    -webkit-animation: rotategrid 4s ease-in-out both;
    
}
@keyframes rotategrid {
    0%{
        -webkit-transform: rotate3d(0,0,0,0) translate3d(0,0,0);
        transform: rotate3d(0,0,0,0) translate3d(0,0,0);
    }
    100%{
        -webkit-transform: rotate3d(1,1,1,-20deg) translate3d(20px,40px,50px);
        transform: rotate3d(1,1,1,-20deg) translate3d(20px,40px,50px);
    }
}

@-webkit-keyframes fade-in-up {
    0%{
        -webkit-transform: rotate3d(0,0,0,0) translate3d(0,0,0);
        transform: rotate3d(0,0,0,0) translate3d(0,0,0);
    }
    100%{
        -webkit-transform: rotate3d(1,1,1,-20deg) translate3d(20px,40px,50px);
        transform: rotate3d(1,1,1,-20deg) translate3d(20px,40px,50px);
    }
}



.scrolled.fade-in-up{
    animation: fade-in-bottom 2s ease-in-out both;
    -webkit-animation: fade-in-bottom 2s ease-in-out both;
}
.js-scroll{
    opacity: 0;
}
.js-scroll.scrolled{
    opacity: 1;
}

@keyframes fade-in-up {
    0%{
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100%{
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-up {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}


/* -------------animation-slide-top--------------- */
.animate.slide-top{
    -webkit-animation: slide-top 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0%{
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px);
      }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0);
    }
    100% {
         -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px);
    }
}





/* -------------animation-slide-right-------------- */

.animate.slide-right{
    -webkit-animation: slide-right 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0%{
        -webkit-transform: translateY(0) translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
      }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateX(0);
    }
    100% {
         -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

/* -------------animation-slide-left-------------- */

.animate.slide-back{
    -webkit-animation: slide-back 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-back 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-back {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}
  @keyframes slide-back {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

/* -------------animation-slide-back--------------- */

.animate.slide-left {
	-webkit-animation: slide-left 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}
  @keyframes slide-left {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}

/* -------------------- for tablet------------------- */

@media screen and (max-width: 1300px) {
    .section-grid{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        
    }
    .section-grid .section-content {
        justify-self: center;
        text-align: center;
    }
    .section-idea .idea-doc{
        width: 100%;
        
    }
    .section-idea .idea-doc img{
        width: 100%;

    }
}

@media screen and (max-width: 1000px) {
    :root{
        --navfont : 1.6rem;
        --logofont : 2rem;
    
        --headfont: 2rem;
        --headfont2: 1.5rem;
        --pfont: 1rem;
    }

    .menu, .join-btns{
        display: none;

    }
    #menu-icon{
        display: inline-block;
    }
    .cross{
        display: none;
    }
    #menu-icon.hide .bars{
        display: none;
    }
    #menu-icon.hide .cross{
        display: block;
    }
    .navbar{
        padding: 16px 50px;
    }
    .block-content{
        max-width: 500px;
    }
    .section-hero {
        padding: 2rem 1.875rem 6rem 1.875rem;
    }
    .block-hero-img{
        width: 60%;
    }
    .block-hero-img img{
        width: 100%;
    }
    #doc2 img{
        width: 60%;
    }
    .section-animate-grid{
        width: 60%;
        justify-self: center;
        left: 25%;
    }
    .section-animate-grid img{
        width: 100%;
    }
    /* .section-full-circle{
        top: 50%;
        left: 50%;
    } */
    .section-full-circle div{
        width: 40%;
    }
    #circle10,#circle11,#circle12{
        width: 10%;
    }
    .docs3-2{
        width: 50%;
    }
    .section-review{
        grid-template-columns: 1fr 1fr;
    }
    .review-content{
        grid-column: 1/span 2;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
        margin-bottom: 4rem;
    }
    .review-content h1,.review-content p,.review-content a{
        text-align: center;
    }
}


@media screen and (max-width: 1000px) {
    .main-features-box{
        grid-template-columns: auto;
    }
    .work-grid{
        grid-template-columns: auto;
    }
    .section-idea{
        grid-template-columns: auto;
    }
    .idea-doc{
        order: 2;
    }
    .section-footer{
        grid-template-columns: auto;
        justify-content: center;
    }
    .section-footer> div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        margin: 2rem 0;
    }
}

@media screen and (max-width: 1000px){
    :root{
        --navfont : 1rem;
        --logofont : 1.5rem;
    
        --headfont: 1.5rem;
        --headfont2: 1rem;
        --pfont: .75rem;
    }
    .reviewcontain1,.reviewcontain2{
        grid-column: 1/-1;
    }
}