{% extends "base.html" %} {% block head %}
<!-- Adjust the path above according to where you place the searchRestaurants.js file -->
{% endblock %} {% block title %}Home Page{% endblock %} {% block content %}
<div class="d-flex flex-column align-items-center mt-5">
  <section class="section-hero container">
    <div class="content maxsize">
      <div class="block-content">
        <h1>
          Find the best restaurant <span class="diff-bold">for you.</span>
        </h1>
        <p>Stop scrolling through reviews. Use Munch instead.</p>
        <div class="search-container">
          <input
            id="search-input"
            class="search-bar"
            type="text"
            placeholder="Ask about restaurants."
          />
          <button
            id="search-button"
            class="search-btn"
            onclick="searchRestaurants()"
          >
            Search
          </button>
        </div>
      </div>
      <div id="results-container" class="results"></div>
      <br />
      <div class="prompts">
        <div class="prompt-container">
          <p>
            I want to find a Mexican restaurant with the best margaritas in
            Atlanta
          </p>
        </div>
        <div class="prompt-container">
          <p>Where's a tasty burger spot with good vegetarian options?</p>
        </div>
        <div class="prompt-container">
          <p>
            I need to impress a date. Can you find some romantic Italian or
            French restaurants?
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
