{% extends "base.html" %} {% block head %}
{% endblock %} {% block title %}Home Page{% endblock %} {% block content %}
<div class="d-flex flex-column align-items-center mt-5">
  <section class="section-hero container">
    <div class="content maxsize">
      <div class="block-content">
        <h1>
          Find the best restaurant <span class="diff-bold">for you.</span>
        </h1>
        <p>Stop scrolling through reviews. Use Munch instead.</p>
        <form
          id="search-form"
          onsubmit="event.preventDefault(); searchRestaurants();"
        >
          <div class="search-container">
            <input
              id="search-input"
              class="search-bar"
              type="text"
              placeholder="Ask about restaurants."
            />
            <button
              id="search-button"
              class="search-btn"
              onclick="searchRestaurants()"
            >
              Search
            </button>
          </div>
        </form>
      </div>
      <div class="loading-spinner" style="display: none">
        <div class="spinner"></div>
      </div>
      <div id="results-container" class="results"></div>
      <br />
      <div class="prompts">
        <div class="prompt-container">
          <p>
          <strong>Find me the best gluten-free pizza in Philadelphia. I'm craving a slice.</strong>
          </p>
        </div>
        <div class="prompt-container">
          <p>
            <strong>What are the best sushi restaurants in Philadelphia right now? I wanna go there with my date.</strong>
          </p>
        </div>
        <div class="prompt-container">
          <p>
            <strong>I am craving some duck right now. Do something about it immediately.</strong>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
